<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="./assets/6.jpg" style="width:100%">
    <div class="text">Burger</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="./assets/7.jpg" style="width:100%">
    <div class="text">Olivier</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="./assets/9.jpg" style="width:100%">
    <div class="text">Tandoor</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="./assets/10.jpg" style="width:100%">
    <div class="text">Bona Coffee</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="./assets/11.jpg" style="width:100%">
    <div class="text">Beefeater</div>
  </div>

  <br>

  <div style="text-align:center">
    <span class="dot" click="currentSlide(1)"></span>
    <span class="dot" click="currentSlide(2)"></span>
    <span class="dot" click="currentSlide(3)"></span>
  </div>
